/* Variables */

:root {
  --basic-grey: #888888;
  --basic-black: #000000;
  --basic-white: #FFFFFF;
  --basic-mine-shaft: #333333;
  --basic-half-baked : #81B3D2;
  --basic-pine-cone: #766357;
  --basic-gallery: #EEEEEE;
  --basic-concrete: #F2F2F2;
  --basic-dove-gray: #666666;

  --button-hover-fountain-blue: #669EC0;
  --button-push-steel-blue: #5496BD;
  --button-hover-kabul: #604E43;
  --button-push-mondo: #503E33;
  --input-hover-gallery: #EBEBEB;
}

/* Global */

body {
  min-width: 1280px;
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: var(--basic-black);
  text-transform: uppercase;
  background-color: var(--basic-concrete);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.content-area {
  max-width: 1200px;
  background-color: var(--basic-white);

  margin: 0 auto;
}

.page {
  height: 100%;
}

.page-body {
  min-height: 100%;
  display: grid;
  grid-template-rows:
    min-content
    1fr
    min-content;
  align-content: start;
}

/* Main navigation */

.main-navigation {
  font-size: 14px;
  line-height: 26px;
  font-weight: bold;
  background-color: var(--basic-white);
}

.site-navigation {
  margin: 0;
  padding: 0;
  list-style: none;

  display: flex;
  /* align-items: center; */
  justify-content: space-around;

  height: 55px;
  position: relative;
  z-index: 1;
}
/*  */
/*  */
..site-navigation li {
  width: 25%;
  line-height: 56px;
  vertical-align: middle;
}

.site-navigation li:nth-child(n + 3){
  text-align: right;
}
/*  */
/*  */
.site-navigation a {
  color: var(--basic-black);
}

.site-navigation a:hover,
.site-navigation a:focus {
  color: var(--basic-half-baked);
}

.site-navigation a:active {
  opacity: 0.3;
}

.logo-container{
  position: absolute;
  display: flex;
  justify-content: center;
  width: 1200px;
  z-index: 0;
}

.logo {
  width: 138px;
  height: 70px;
}

/* Welcome */

.welcome {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 510px;
}

/* Why Sedona */

.why-sedona-text {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  text-align: center;

  max-width: 470px;
  margin: 0 auto;
  padding-top: 100px;
}

.five-reasons-text {
  line-height: 26px;
  text-align: center;

  max-width: 520px;
  margin: 0 auto;
  padding-bottom: 50px;
}

/* Five-reasons */

.five-reasons {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-auto-rows: minmax(256px, auto);
}
.five-reasons-flex {
  display: flex;
  grid-column: 1/5;
}

.five-reasons-flex  img{
  display: block;
}

.first-second-reason {
  text-align: center;
  color: var(--basic-white);
  background-color: var(--basic-half-baked);

  width: 400px;
}

.other-reasons {
  text-align: center;
  color: var(--basic-black);
}

.other-reasons div {
  width: 400px;
}

.other-reasons p {
  color: var(--basic-mine-shaft);
}

.background-gallery {
  background-color: var(--basic-gallery);
}

/* Hotel search */

.interested {
  font-size: 30px;
  line-height: 24px;
  text-align: center;
  font-weight: bold;

  margin: 0;
  margin-top: 30px;
}

.hotel-search-text {
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  color: var(--basic-mine-shaft);
}

.modal-block {
  position: relative;
  width: 568px;
  margin: 0 auto;
}

.hotel-search {
  display: grid;
  background-color: #fff;
}

.modal {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #fff;
  padding: 55px;
}

.modal-row {
  display: flex;
  justify-content: space-between;
  line-height: 38px;
}

.modal-row input {
  width: calc(100% - 120px);
}

.modal-counter {
  display: flex;
  justify-content: space-between;
}

.modal-counter:last-child {
  margin-left: 80px;
}

.modal-counter:last-child input {
  width: calc(100% - 80px);
}

.hotel-search .button {
  display: block;
  font-family: 'PT Sans', sans-serif;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  color: var(--basic-white);
  border: none;
  text-transform: uppercase;

  height: 86px;
  width: 100%;
  margin-top: 55px;
  outline: none;
}

.color-pine-cone {
  background-color: var(--basic-pine-cone);
}

.color-pine-cone:hover,
.color-pine-cone:focus {
  background-color: var(--button-hover-kabul);
}

.color-pine-cone:active {
  background-color: var(--button-push-mondo);
}

.color-half-baked {
  background-color: var(--basic-half-baked);
}

.color-half-baked:hover,
.color-half-baked:focus {
  background-color: var(--button-hover-fountain-blue);
}

.color-half-baked:active {
  background-color: var(--button-push-steel-blue);
}

.hotel-search-form p {
  line-height: 26px;
  font-weight: bold;
}

.hotel-search-form input {
  color: var(--basic-black);
  font-weight: bold;
  background-color: var(--basic-concrete);
  border: none;
}

.hotel-search-form input:hover {
  background-color: var(--input-hover-gallery);
}

.hotel-search-form input:focus {
  background-color: var(--basic-white);
  border: 2px solid #E5E5E5;
  box-sizing: border-box;
}

/* Footer */

.main-footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  height: 120px;
}

.phone {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
}

.phone p {
  max-width: 250px;
  text-align: center;
  margin: 0 auto;
  margin-top: 20px;
}

.phone a {
  color: var(--basic-black);
}

.social {
  width: 150px;
  margin: 0 auto;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
    list-style: none;
}

.social-block{
  align-self: center;
}

.social li {
}
.social a {
    display: flex;
    align-items: center;
    justify-content: center;

      width: 48px;
      height: 46px;
      background-color: #81B3D2;
}
.website-by {
  line-height: 26px;
    display: flex;
    align-self: center;
}

.website-by p{
  margin-right: 8px;
}

/* hotels.html */

/* Filter */

.filter {
  line-height: 21px;
  color: var(--basic-white);
  background-color: var(--basic-grey);

  display: grid;
  grid-template-columns: 300px 300px 600px;
}

.filter fieldset {
  border: none;
}

.filter-checkbox-grid {
  grid-row: 1/3;
}

.filter legend {
  font-size: 16px;
  font-weight: bold;
}

.filter ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.filter-button {
  font-family: 'PT Sans', sans-serif;
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: var(--basic-white);
  background-color: rgba(0, 0, 0, 0);
  border: 2px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 2px;
}

.filter-button:hover {
  color: var(--basic-black);
  background-color: var(--basic-white);
  border: 2px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 2px;
}

/* Sorting */

.sorting {
  display: flex;
  justify-content: start;
  align-items: baseline;
}

.sorting ul {
  list-style: none;
  padding: 0;
  margin: 0;

  display: flex;
}

.sorting-count {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
}

.sorting-button {
  font-size: 12px;
  line-height: 18px;
  color: var(--basic-black);
}

.sorting-current {
  color: var(--basic-half-baked);
}

.sorting-unselected {
  opacity: 0.3;
  border-bottom: 1px dashed var(--basic-half-baked);
}

.sorting-unselected:hover,
.sorting-unselected:focus {
  opacity: 1;
  color: var(--basic-half-baked);
}

.sorting-unselected:active {
  opacity: 1;
  color: var(--basic-black);
  border: none;
}

/* Hotels list */

.hotels-list {
  list-style: none;
  padding: 0;
  margin: 0;

  display: grid;
  grid-template-rows: 150px 150px 150px;
}

.hotels-list li {
  display: flex;
}

.hotels-list h2 {
  line-height: 26px;
  color: var(--basic-black);
}

.hotels-list h2:hover,
.hotels-list h2:focus {
  color: var(--basic-half-baked);
}
.hotels-list h2:active {
  opacity: 0.3;
}

.hotels-list span {
  line-height: 21px;
}

.hotels-list .button {
  line-height: 21px;
  font-weight: bold;
  color: var(--basic-white);
}

.raiting-text {
  color: var(--basic-dove-gray);
  background-color: var(--basic-concrete);
}
/* Visually hidden */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0)
}
